.bg{width:1160px; height:912px; background: url(../img/timg.jpg); background-size:100% 100%;}
#red{width:220px; height:252px; margin:300px 0 0 65px; float: left;}
#blue{width:220px; height:252px; margin:300px 65px 0 0;float:right;}
